header {
    background: url("http://cfile3.uf.tistory.com/image/25079D4552D386BC1C8A50") no-repeat center center;
    background-size: cover;
    height: 700px;
    position: relative;
    top: 100px;
}

div h1 {
    font-family: 'Jeju Gothic', serif;
}
div h2 {
    font-family: 'Jeju Gothic', serif;
}

#first {
    text-align: center;
    position: relative;
    top: 200px;
    background-color: rgba(66, 66, 66, 0.7);
    height: 300px;
}

.first_paragraph {
    color: white;
    position: relative;
    top: 70px;
}

#press {
    position: relative;
    top: 70px;
}






