header {
    background: url("http://cfile3.uf.tistory.com/image/25079D4552D386BC1C8A50") no-repeat center center;
    background-size: cover;
    height: 700px;
    position: relative;
    top: 100px;
}

div {
    text-align: center;
    position: relative;
    top: 200px;
}
.container {
    background-color: rgba(66, 66, 66, 0.7);
    height: 300px;
}

div h1 {
    color: white;
    position: relative;
    top: 70px;
    
}
div h2 {
    color: white;
    position: relative;
    top: 70px;
}

div a {
    position: relative;
    top: 70px;
}